body {
	font-family: Roboto;
	font-size: 14px;
}
/*Login Page*/
.single-page-login-alpha .single-page-block .single-page-block-inner {
	border-radius: 10px;
	margin-top: 30px;
	padding: 20px;
}
.single-page-login-alpha .single-page-block .single-page-block-inner .social-login {
	border-top: none !important;
}
body.single-page .single-page-block a {
	color: #757575;
}