body {
  font-family: Roboto;
  font-size: 16px;
  background-color: #fff;
}

/*Login Page*/

/*
.single-page-login-alpha .single-page-block .single-page-block-inner {
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
}
*/

.single-page-login-alpha .single-page-block .single-page-block-inner .social-login {
  border-top: none !important;
}

body.single-page .single-page-block a {
  color: #757575;
}

/*Navbar*/

nav.top-menu {
  border-bottom: none;
}

.navbar-logo {
  width: 150px;
}

@media only screen and (min-width: 540px) {
  .navbar-logo {
    width: 180px;
  }
}

@media only screen and (min-width: 769px) {
  .navbar-logo {
    width: 240px;
  }
}

/*Home*/

#carousel-example-generic-2 {
  margin-bottom: 20px;
}

.card_udacity_jumbo_left {
  -webkit-box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  padding: 0px;
  border-radius: 10px;
  height: 340px !important;
  width: 100%;
  background-color: #fff;
  background-image: url(../img/jumbo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: content-box;
}

.carousel-control.left {
  background-image: none !important;
  background-color: transparent;
}

.carousel-control.right {
  background-image: none !important;
  background-color: transparent;
}

.card_jumbo_right {
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border: none;
}

.carousel-item {
  border-radius: 10px;
  background-color: transparent;
}

@media screen and (max-width: 540px) {
  /* For mobile phones: */
  .dropdown-avatar.file {
    display: none;
  }
  .material-icons {
	font-size: 35px;
  }
  .icon-menu {
  	padding-left: 0px;
  }
  .right {
	width: 43%;
}
}
