/* CSS Document */
@media screen and (max-width: 543px) {
.baogia>div.tt{
    min-height:50px;
    }
.baogia>div.ttcn>label{
    width:100%;
    color:#02b3e4;
    font-size:25px;
    text-align:center;
    }
.baogia>div.ttcn>div{
    padding-left:15%;
    padding-right:15%;
    }

.baogia>div.ttcn>div>div>img{
    border-radius:50%;
    }

.baogia>div.ttcn>div>div>label{
    color:#000;
     padding-left:5%;
     }

.yeucau{
    font-size:14px;
    padding-top:15%;
    }

.diachi{
    color:#CCC;
    font-size:12px;
    padding-top:8%;
    }

.thoigian{
    color:#F00;
    font-size:12px;
    padding-top:8%;
    }

.icon{
    color:#000; 
    padding-right:3%
    }
.gui{    
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.btn.btn-primary, .open > .btn.btn-primary{
    width: 100%;
    border-radius:0%;
    margin: 0px;
    }
}
