body.single-page {
  background: #fafbfc;
}

table {
  font-size: 14px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.spinner-wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(36, 34, 47, 0.3);
  z-index: 1030;
}

.spinner {
  border-radius: 0;
}

.label {
  border-radius: 0;
}

.top-menu .icon-menu-wrapper {
  float: right;
  width: 55%;
}

.top-menu .icon-menu {
  list-style-type: none;
}

.top-menu .icon-menu .icon-menu-notification,
.top-menu .icon-menu .icon-menu-order {
  float: left;
}

.top-menu .icon-menu .icon-menu-user {
  float: right;
}

.top-menu .icon-menu i {
  font-size: 30px;
  padding: 6px 5px 20px 5px;
  color: #242424;
}

.top-menu .icon-menu .active i {
  padding-bottom: 20px;
  border-bottom: 3px #242424 solid;
}

.top-menu .icon-menu i:hover {
  padding-bottom: 20px;
  border-bottom: 3px #242424 solid;
}

.top-menu .icon-menu a:hover {
  color: #242424;
}

.content-body-full-page {
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 20px;
}

.content-body {
  max-width: 500px;
  min-height: 560px;
  margin: auto;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}

.content-width-700 {
  max-width: 700px;
}

.content-body .tab-content {
  padding: 20px;
}

.btn {
  border-radius: 0;
}

.control-list {
  margin-left: -20px;
  margin-right: -20px;
  background: #fff;
}

.hf-main-card {
  background: #fff;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(46, 61, 73, 0.2);
  box-shadow: 0px 5px 25px 0px rgba(46, 61, 73, 0.2);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 20px;
  margin: -20px;
  line-height: 26px;
}

.hf-main-card .avt {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.hf-main-card .name {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.hf-main-card .email {
  font-size: 13px;
  color: #000;
}

.hf-main-card .phone {
  font-size: 13px;
  color: #000;
}

.hf-main-card .no-phone {
  font-size: 12px;
  font-style: italic;
  color: #000;
}

.hf-main-card .edit-icon {
  position: relative;
  right: -12px;
  bottom: 12px;
  float: right;
}
.hf-main-card .edit-icon i {
  font-size: 20px;
}

.hf-main-card .social-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
}

.hf-main-card .social-label {
  margin-top: 10px;
  color: #acb7bf;
}


.hf-card {
  background: #fff;
  -webkit-box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 1px solid #dfe4ed;
}

.hf-card .bottom-full-width-btn {
  width: 100%;
  height: 40px;
}

.hf-card .acc-balance,
.hf-card .acc-point {
  font-size: 24px;
}

#listTab .hf-card,
#newTab .hf-card,
#quotedTab .hf-card {
  margin-bottom: 20px;
}

.user-row img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.user-row label {
  padding-left: 10px;
  font-weight: bold;
}

.progress {
  height: 5px;
  margin: 0;
  overflow: hidden;
  background-color: #f5f5f5;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-align: center;
  background-color: #02b3e4;
}

.position-relative {
  position: relative;
}

.display-topleft {
  position: absolute;
  left: 0;
  top: 0
}

.display-topright {
  position: absolute;
  right: 0;
  top: 0
}

.display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0
}

.display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0
}

.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%)
}

.display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%)
}

.display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-wrap {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}



.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-direction-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.login-form-wrapper,
.signup-form-wrapper {
  max-width: 500px;
  margin: auto;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.login-form-wrapper .page-title,
.signup-form-wrapper .page-title {
  margin-top: 0;
}

.single-page-login-alpha .single-page-block .single-page-block-inner,
.page-title .signup-form-wrapper .single-page-block-inner,
.login-form-wrapper .single-page-block-inner {
  padding: 40px!important;
  border-radius: 2px!important;
}

.page-title {
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  color: #424242;
}

.text-label {
  font-size: 15px;
  color: #969696;
}

.form-control {
  font-family: Roboto;
}

.form-control {
  border-radius: 0;
  border: none;
  border-bottom: solid 1px #e1e1e1 !important;
  padding: 10px 0;
  font-size: 15px;
}

.input-group input[disabled] {
  background: none;
  color: #ccc;
}

.form-group label {
  font-size: 13px;
  color: #ccc;
  margin-bottom: 0;
}

nav.top-menu {
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  display: block;
}

nav.top-menu .menu {
  margin: auto;

  /*   max-width: 1140px;*/
}

.dropdown-avatar .user-name {
  display: inline-block;
  position: relative;
  top: -10px;
}

.hf-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.content-template-1 .form-wrapper {
  padding: 30px 20px;
  border-radius: 0px;
  background: #fff;
  margin-bottom: 10px;
}

.content-template-1 .form-control {
  padding: 5px;
}

.content-template-1 .hf-select .btn {
  padding: 0 5px 5px 5px;
}

.content-template-1 .form-control:disabled,
.content-template-1 .form-control[readonly] {
  background: none;
}

.content-template-1 .select2-results__options li,
.content-template-1 .select2-selection__rendered li {
  font-size: 14px;
}

.content-template-1 .btn-group {
  width: 100%;
}

.content-template-1 .btn-group label {
  text-align: left;
  color: #242424;
}

.btn-group-50 label {
  width: 50%;
}

.content-template-1 .btn-group label > span {
  padding-right: 10px;
}

.content-template-1 .btn-group .btn {
  border: 0;
}

.content-template-1 .btn-group .active {
  background: none;
  background-color: none;
  color: #02b3e4;
}

.content-template-1 .btn-group .active > span {
  color: #02b3e4;
}

.content-template-1 .page-title {
  color: #02b3e4;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  text-transform: none;
}

.content-template-1 .header-logo {
  padding: 15px 0;
  background: #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 10px 0px rgba(46, 61, 73, 0.2);
  box-shadow: 0 0 10px 0px rgba(46, 61, 73, 0.2);
}

.content-template-1 .header-logo img {
  max-width: 200px;
}

.content-template-1 .table td,
.content-template-1 .table th {
  padding: 5px;
}

.dataTables_filter label {
  font-size: 14px;
}

.dataTables_filter .input-sm {
  font-size: 14px;
  width: 100px;
}

.emp-table .emp-name {
  font-weight: bold;
  color: #02b3e4;
}

.emp-table .emp-email {
  font-style: italic;
  color: #ccc;
  text-transform: none !important;
}

.emp-table .col-name {
  min-width: 200px;
}

.order-item {
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  background-color: #fff;
  border-bottom: solid 2px #01a8fe;
  padding: 10px 10px;
  margin-top: 16px;
}

.order-row .avt {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin: auto;
  border: solid 1px #01a8fe;
  display: block;
}

.order-row .wizard .content {
  display: none;
}

.pro-order .pro-avt {
  width: 150px;
  height: 150px;
  margin: 20px auto;
}

.pro-order .pro-info {
  border: solid 1px #e1e1e1;
}

.pro-order .pro-content {
  padding: 20px;
}

.pro-order .pro-content .heading {
  font-size: 18px;
  color: #02b3e4;
  font-weight: 400;
}

.pro-order .pro-content .order-row {
  font-size: 15px;
  color: #7b7b7b;
}


.pro-order .pro-content .order-row .detail > div {
  margin-bottom: 10px;
  padding: 5px;
}

.pro-order .pro-content .order-row .detail span {
  color: #ccc;
}

.under-line {
  border-bottom: dotted 1px #EEEEEE;
}

.pro-order .pro-content .order-row .detail i.fa {
  width: 20px;
  text-align: center;
}

.pro-order .pro-des {
  background: #02b3e4;
  color: #fff;
  padding: 15px;
  line-height: 1.4;
}

.order-user {
  font-weight: bold;
}

.order-service {
  font-weight: bold;
}

.order-address,
.order-address i,
.order-time,
.order-time i,
.order-quoted-price,
.order-quoted-price i,
.order-service-content,
.order-service-content i {
  font-size: 13px;
  vertical-align: bottom;
  line-height: 24px;
}

.order-address,
.order-address i {
  cursor: pointer;
}

.order-cancel,
.order-cancel i {
  font-size: 12px;
  vertical-align: bottom;
  line-height: 12px;
  text-align: right;
}

.order-address {
  /*
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
*/
  color: #02b3e4;
}

.pro-profile .order-address {
  white-space: inherit;
  overflow: none;
}

.order-info .order-service-content,
.order-info .order-address,
.order-info .order-time {
  padding-left: 20px;
  display: block;
}

.order-info .order-service-content i,
.order-info .order-address i,
.order-info .order-time i {
  margin-left: -22px;
  padding-right: 5px;
}

.order-time {
  color: #242424;
}

.state-now {
  color: #f39834;
}

.order-req {
  width: 100%;
  font-size: 13px;
  padding: 10px;
  height: 75px;
  text-align: left;
  margin: 10px 0;
  background: #fafafa;
}

.order-request-date {
  font-size: 9px;
  text-align: right;
  padding-right: 20px;
  color: #969696;
}

.order-quoted-date {
  font-size: 9px;
  text-align: left;
  padding-left: 20px;
  color: #969696;
}

.order-quoted-price {
  color: #f39834;
}

.order-quoted-price .quoted {
  color: #d9534f;
  font-weight: bold;
}

.order-cancel a {
  color: #d9534f !important;
}

.order-service-content {
  color: #acb7bf;
}

.order-service-content img {
  width: 25px;
  height: 25px;
}

.badge {
  position: relative;
}

.badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -9px;
  right: 3px;
  font-size: .7em;
  background: #d9534f;
  color: #fff;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.qprice-item {
  margin-top: 10px;
  background: #fff;
  padding: 10px;
  font-size: 14px;
}

.qprice-item .btn-profile {
  padding: 10px;
  margin-top: 10px;
  border-top: solid 1px #e1e1e1;
}

.qprice-item .btn-profile a {

  color: #02b3e4;
}

.qprice-item .avt {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin: auto;
  border: solid 1px #01a8fe;
  display: block;
}

.qprice-item .pro-name {
  font-size: 15px;
  font-weight: bold;
}

.qprice-item .excute-date {
  text-align: center;
  color: #01a8fe;
  font-size: 14px;
}

.qprice-item .price {
  font-weight: bold;
  color: #d9534f;
}

.page-header {
  line-height: 90px;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  background: none;
}

.nav-tabs {}

.nav-page .nav-link {
  width: 100%;
  color: #fff;
}

.nav-tabs .nav-link.active {
  color: #fff !important;
  font-weight: bold;
}

nav.top-menu .menu .menu-info-block {
  margin-right: 0;
}

/*
    select multiple - Truc-TT 
 */

.select2-selection__choice__remove {
  color: #fff !important;
}

.select2-container .select2-results__option--highlighted {
  background-color: #fff !important;
}

.select2-container .select2-results__option[aria-selected=true] {
  color: #fff;
  background-color: #02b3e4 !important;
}

.select2-container .select2-results__option[aria-selected=true].select2-results__option--highlighted {
  color: #fff !important;
  background-color: #02b3e4 !important;
}

.single-page-login-alpha .single-page-block .single-page-block-inner {
  border-radius: 0!important;
}

.input-group-addon {
  background: none;
  border: none;
  border-bottom: solid 1px #dfe4ed;
}

body.single-page .single-page-block .single-page-block-inner {
  margin-bottom: 0;
  margin-top: 30px;
}

.hf-select > button,
.hf-select span > .selection > span {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #e1e1e1;
}

.hf-select > button {
  padding-bottom: 10px;
  padding-top: 10px;
}

.hf-select-date a {
  text-align: right;
}

.hf-select-date .filter-option {
  text-align: center !important;
}

.hf-select-time a,
.hf-select-time .filter-option {
  text-align: center !important;
}

.selection > span > ul > li.select2-selection__choice {
  color: #fff !important;
  background-color: #02b3e4 !important;
}

/*
* HOME PAGE
*/

.top-banner .hero {
  background-size: cover;
  background-color: #fafbfc;
  min-height: 580px;
}

.top-banner {
  position: relative;
}

.top-banner .hero h1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1;
  color: #0190da;
  font-size: 55px;
}

.top-banner .hero h1 > small {
  display: block;
  text-transform: none;
  color: #424242;
  font-size: 20px;
  font-weight: lighter;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  line-height: 1.4;

}

.top-banner .service {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1140px;
}

.top-banner .btn-services {
  background: #ffffff;
  margin: 0;
  margin: auto;
  border-radius: 5px;
  padding: 0px 20px 20px 20px;
  width: 170px;
  height: 170px;
}

.top-banner .btn-services:hover {
  background: #fff;
}

.top-banner .btn-services p {
  margin-top: 0px;
  text-transform: uppercase;
  font-weight: normal;
}

#hiw {
  background: #fafbfc;
  padding: 100px 0;
}

.hiw-slider .img img {
  max-width: 100%;
  height: 250px;
  margin: auto;
}

.slick-initialized .slick-slide {
  outline: none;
}

.hiw-slider .text {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.hiw-slider .step-title {
  font-weight: lighter;
  font-size: 30px;
  position: relative;
  margin-bottom: 15px;
  display: block;
}

.hiw-slider .step-title:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background: #02b3e4;
  bottom: 0;
}

.hiw-slider .slick-dots {
  position: absolute;
  right: 20px;
  top: 20px;
  list-style-type: none;
}

.hiw-slider .slick-dots li {
  display: inline-block;
  margin-left: 20px;
}

.hiw-slider .slick-dots li button {
  width: 40px;
  height: 40px;
  outline: none;
  background: #02b3e4;
  color: #fff;
  border-radius: 100%;
  border: solid 1px #eee;
}

.hiw-slider .slick-dots li.slick-active button {
  background: #FFF;
  color: #02b3e4;
  border-radius: 100%;
  border: solid 1px #02b3e4;
}

.heading {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: lighter;
}

#testinomial {
  padding: 100px 0;
}

#testinomial .avatar {
  width: 120px;
  height: 120px;
  outline: none;
  margin: auto;
}

#testinomial .avatar:focus {
  outline: none;
}

#testinomial .author-name {
  font-weight: bold;
  line-height: 2;
  display: block;
  font-size: 18px;

}

#testinomial .heading {
  color: #fff;
}

#testinomial .sub-heading {
  color: #fff;
}

#testinomial blockquote {
  border: 0;
  background-color: transparent;
  margin-bottom: 0;
  padding-bottom: 20px;
}

#testinomial .quote {
  border-radius: 5px;
  background-color: #fafafa;
  padding: 20px;
}

#testinomial .slick-dots {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#testinomial .slick-dots li {
  display: inline-block;
  margin: 5px;
}

#testinomial .slick-dots li button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #ccc;
  border: solid 1px #ccc;
  color: transparent;
  outline: none;
}

#testinomial .slick-dots li.slick-active button {
  background: #02b3e4;
  border: solid 1px #02b3e4;
}

.hf-footer {
  background: #002046;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hf-footer .intro {
  color: #ccc;
}

.hf-footer .title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  color: #e1e1e1;
}

.hf-footer ul.link {
  list-style-type: none;
  padding: 0;
  font-size: 15px;
}

.hf-footer ul.link li {
  margin-bottom: 10px;
}

.hf-footer ul li,
.hf-footer ul li a {
  color: #e1e1e1;
}

.hf-footer form input {
  background: none;
}

.hf-footer form textarea {
  background: none;
  border: solid 1px #eee;
  padding: 10px;
}

.copyright {
  padding: 10px 0;
  background: #f5f5f5;
}

.copyright p {
  font-size: 13px;
  line-height: 1;
  margin: 5px 0;
}

#section-form {
  background: #F4F3F0;
  padding: 100px 0;
}

#section-form .hf-card {
  background: #02b3e4;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#section-form .signin {
  padding: 50px;
  text-align: center;
  background: #fff;
}

#section-form .signin .signin-social {
  margin-bottom: 20px;
}

#section-form .sub-title {
  font-size: 15px;
  font-weight: lighter;
  color: #424242;
}

#section-form .signin .signin-social .facebook {
  background-color: #2151B2;
  color: #fff;
}

#section-form .signin .signin-social .google {
  background-color: #D41701;
  color: #fff;
}

#section-form .login .sub-title {
  color: #fff;
  margin-top: 20px;
}

#section-form .login {
  padding: 50px 0;
}

#section-form .login img {
  max-width: 250px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.lets-work {
  padding: 70px 0;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center center;
}

.lets-work .headline {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.4;
  color: #Fff;
}

.g-recaptcha > div {
  margin: auto;
}

.survey-page {
  background: #F4F3F0;
}

.survey-page .page-content {
  margin-top: 0!important;
  padding-top: 40px!important;
}

.survey-form {
  max-width: 500px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.survey-form .service-icon {
  width: 60px;
  height: 60px;
}

.survey-form .wizard > .content > .body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 13px;
}

.survey-form .cui-wizard > .content {
  border-radius: 0;
  margin: 0;
  min-height: 395px;

}

.survey-form .cui-wizard > .content label:hover {
  background: none;
}

.survey-form .cui-wizard > .content label {
  font-size: 15px;
  text-align: left;
  display: block;
  border: none;
  width: 100%;
  background: none;
  padding-left: 0;
}

.survey-form .wizard > .steps {
  display: none;
}


.survey-form .cui-wizard .actions li a {
  background-color: #fff;
  /* border: solid 1px #02b3e4; */
  color: #02b3e4;
}

.survey-form .cui-wizard .actions li a[href='#next'],
.survey-form .cui-wizard .actions li a[href='#finish'] {
  background-color: #02b3e4;
  color: #fff;
  border-top: solid 1px #02b3e4;
}

.survey-form .cui-wizard .actions li a[href='#previous'] {
  border-top: solid 1px #e1e1e1;
}

.survey-form .question {
  background: #fafbfc;
  font-size: 15px;
  line-height: 1.4;
  padding: 18px;
  min-height: auto;
  color: #242424;
  border-bottom: solid 1px #e1e1e1;
}

.survey-form .answer label.btn {
  padding: 20px!important;
  border-bottom: solid 1px #e1e1e1!important;
  border-radius: 0;
  color: #242424;
}

.survey-form .label-other:hover,
.survey-form .label-other.active {
  background: none;
}

.survey-form .input-other {
  padding: 10px;
  width: 100%;
  display: inline-block!important;
  border: none!important;
  padding: 0;
}

.survey-form .input-other:focus {
  outline: none;
}

.survey-form .wizard > .actions {}

.survey-form .wizard > .actions > ul {
  display: block;

}

.survey-form .wizard > .actions > ul li:first-child {
  width: 30%;
}

.survey-form .wizard > .actions > ul li:nth-child(2) {
  width: 70%;
}

.survey-form .wizard > .actions > ul li:nth-child(3) {
  width: 70%
}

.survey-form .wizard > .actions > ul li {
  margin: 0;
  max-width: auto;
}

.survey-form .wizard > .actions > ul li a {
  border-radius: 0;
  padding: 13px;
  line-height: 1;
  opacity: 1;
}

.cui-wizard .actions li.disabled a {
  background: #ffffff!important;
  color: #02b3e4!important;
  border-top: solid 1px #e1e1e1;
}

.survey-form .btn-group {
  display: block;
}

.survey-form .btn-group label.btn {
  display: block;
  width: 100%;
  border: none;
  text-align: left;
  background: none;
  padding-left: 0;
}

.survey-form .btn-group .input-other {
  border: none;
  border-bottom: solid 1px #e1e1e1;
  background: none;
  padding-left: 0;
}

.survey-form .time-wrapper,
.survey-form .address-wrapper {
  padding: 20px;
}

.survey-form .time-wrapper span.icon {
  font-size: 18px;
  color: #242424;
  vertical-align: middle;
}

.survey-form .time-wrapper label.btn {
  color: #242424;
}

.survey-form .excute-date-wrapper {
  padding: 20px;
}

.row-complete {
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.row-complete .btn .material-icons,
.survey-form .actions .material-icons {
  font-size: 30px;
}

.row-complete .btn {
  width: 70%;
  float: left;
  border-radius: 0;
  border: none;
  padding: 12px;
  font-size: 13px;

}

.row-complete #btnBack {
  background: #ffffff;
  color: #02b3e4;
  font-size: 18px;
  padding: 15px;
  width: 30%;
}

.row-complete #btnComplete,
.row-complete #btnCancel,
.row-complete #btnQuoted,
.row-complete #btnCancelQuoted,
.row-complete #btnProcess {
  width: 100%;
  font-size: 18px;
  padding: 15px;
}

.survey-form .service-title {
  height: 120px;
  line-height: 32px;
  color: #242424;
  text-transform: uppercase;
  position: relative;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
}

.survey-form span.icon {
  margin-right: 10px;
}

.survey-form .service-title > span {
  display: block;
  max-width: 200px;
  margin: auto;
  position: absolute;
  padding: 10px;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 20px;
  text-align: center;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  background: #fff;
}

#positionAndTime .content {
  min-height: 513px;
}

#positionAndTime .address {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

#positionAndTime .time {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background: #f2f2f2;
}

#positionAndTime .address-history {
  padding: 15px 0;
  background: #fafafa;
}

#positionAndTime .address-history .item {
  position: relative;
  background: #fff;
  padding: 10px 0;
  border-bottom: solid 1px #e1e1e1;
  border-top: solid 1px #e1e1e1;
}

#positionAndTime .address-history .item:last-child {
  border-top: none;
}

#positionAndTime .address-history .item .icon {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #ccc;
}

#positionAndTime .address-history .item .right-content {
  padding-left: 65px;
}

#positionAndTime .address-history .item .right-content > div:last-child {
  color: #ccc;
  font-size: 13px;
}

.page-content {
  margin-left: 240px;
}

/*
 * page-orders
 */

.page-orders {
  margin-top: 0!important;
  height: auto!important;
  background: #eceff4;
  padding: 10px;
}

.page-orders .page-content-inner {
  margin: 10px;
  background: #fff;
}

.page-orders .orders {
  padding-bottom: 14px;
}

.order-item {
  position: relative;
}

.order-item .top-btn-order {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background: #f39834;
  color: #fff;
  border-bottom-left-radius: 15px;
  font-size: 13px;
  -webkit-box-shadow: -1px 3px 10px #55555540;
  box-shadow: -1px 3px 10px #55555540;
}

.order-item .top-btn-quoted-order {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 20px 5px 10px;
  background: #01a8fe;
  color: #fff;
  border-bottom-left-radius: 15px;
  font-size: 13px;
  -webkit-box-shadow: -1px 3px 10px #55555540;
  box-shadow: -1px 3px 10px #55555540;
}


.page-order {
  padding-top: 40px!important;
  margin-top: 0!important;
  height: auto!important;
}

.page-order .order-item {
  min-height: 350px;
}

.page-order .order-form {
  max-width: 500px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.quoted-form {
  text-align: center;
}

.page-order .number-style {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

.page-order #btnSubmit {
  width: 100%;
  border-radius: 0;
}

.btn-bottom-screen {
  width: 100%;
  border-radius: 0;
}

.order-state input.datetimepicker {
  border: none;
  font-size: 14px;
  width: 80%;
  color: #f39834;
  outline: none;
  line-height: 15px;
  vertical-align: bottom;
}

.order-state input.datetimepicker::-webkit-input-placeholder {
  color: #f39834;
  opacity: 1;
}

.order-state input.datetimepicker:-ms-input-placeholder {
  color: #f39834;
  opacity: 1;
}

.order-state input.datetimepicker::placeholder {
  color: #f39834;
  opacity: 1;
}

.order-info {
  background: #fff;
  padding: 20px;
  margin-right: 20px;
}

.order-info .order-code {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.order-info .pro-avt {
  max-width: 50px;
  margin: 2.5px;
}

.fail-order .order-info * {
  cursor: no-drop !important;
}
.active-order .order-info * {
  cursor: pointer !important;
}

.pro-avt-row .pro-avt {
  max-width: 40px;
  margin: 2.5px;
}

.order-more {
  line-height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 100%;
  background: #e1e1e1;
  color: #424242;
  display: inline-block;
  margin: 2.5px;
  font-size: 18px;
}

.quoted-price-content {
  font-size: 30px;
  font-weight: bold;
  color: #fb434a;
  vertical-align: top;
}

.quoted-intro {
  margin: 10px;
}

.quoted-intro textarea {
  padding: 10px;
  border: 1px solid #e1e1e1 !important;
  resize: none;
}

.noti-btn {
  text-transform: uppercase;
  color: #01a8fe;
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  border: solid 1px #01a8fe;
  margin: 20px auto;
}

.service-info .avt {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

.service-info label {
  text-transform: uppercase
}

.common-text {
  width: 100%;
  font-size: 13px;
  padding: 10px;
  text-align: center;
  margin: 10px 0;
  background: #fff;
}

.modal-content {
  border-radius: 0;
}

.modal-title {
  color: #02b3e4;
  text-align: center;
  margin: 0;
  text-transform: none;
}

#infowindow-content {
  display: none;
  display: inline;
  font-weight: bold;
  color: #02b3e4;
  /*text-shadow: -1px 0 #01a8fe, 0 1px #01a8fe, 1px 0 #01a8fe, 0 -1px #01a8fe;*/
}

/*
* LEFT MENU
*/

nav.left-menu .left-menu-list li .left-menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

nav.left-menu .left-menu-list li .left-menu-link .material-icons {
  font-size: 20px;
  line-height: 14px;
  vertical-align: middle;
}

.top-menu .icon-menu .icon-menu-user span {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden !important;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 14px;
  text-align: right;
  color: #242424;
}

.top-menu .icon-menu .icon-menu-user .material-icons {
  vertical-align: middle;
}

section.user-menu .list-menu {
  list-style-type: none;
  padding: 0;
}

section.user-menu .list-menu li {
  border-top: solid 1px #e1e1e1!important;
}

section.user-menu .list-menu a {
  font-size: 16px;
  color: #242424;
  display: block;
  padding: 10px;
  background-color: #fff;
}

section.user-menu .list-menu a > i {
  vertical-align: middle;
  margin-bottom: 2px;
  font-size: 25px;
  margin-right: 10px;
}


.orders-page li.nav-item {
  width: 50%;
  text-align: center;
  margin-left: 0!important;
  line-height: 41px;
}

.orders-page .tab-content {
  background: #fafbfc;
}

.order-page li.nav-item {
  width: 33.3%;
  text-align: center;
  margin-left: 0!important;
  line-height: 41px;
}

.order-page ul {
  background: #fff;
}

.order-page .tab-content {
  background: #fafbfc;
}

.order-page .tab-background-white {
  background: #fff !important;
}

.order-page .nav-tabs .nav-link {
  color: #000;
}

.order-page .nav-tabs .nav-link.active {
  color: #02b3e4 !important;
}

.order-page .nav-tabs .nav-item .nav-link.active {
  border-bottom-color: #02b3e4 !important;
}

.order-page .text-light {
  font-size: 15px;
}

.order-page .excute-date {
  margin-left: 10px;
  margin-right: 10px;
}

.orders-item {
  padding: 15px 0;
  margin-bottom: 15px;
}

.orders-item .message {
  font-size: 13px;
  color: #424242;
}

.orders-item .author-avt {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 10%;
  overflow: hidden;
  margin: auto;
}

.orders-item .author-avt img {
  width: 100%;
  height: 100%;
  display: block;
}

.orders-item .author-name {
  font-weight: bold;
}

.orders-item .author-rating {
  color: #189eff;
}

.orders-item .entry-date {
  font-size: 13px;
}

.orders-item .code-item {
  color: #ccc;
  font-size: 13px;
}

.orders-item .map-address {
  font-size: 13px;
}

.orders-item .map-address > span {
  display: block;
  color: #189eff;
}

.header-top-bar {
  background: transparent;
  display: none;
  width: 100px;
}

.header-top-bar .arrow-back i {
  font-size: 22px;
  line-height: 32px;
  vertical-align: middle;
  color: #000;
  text-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}

.header-top-bar .navbar-title {
  color: #fff;
  position: absolute;
  left: 60px;
  top: 0;
  line-height: 46px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.order-map {
  position: relative;
  height: 180px;
}

.order-map .arrow-back {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.order-map .icon-cart {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.order-tag {
  font-size: 13px;
  color: #424242;
}

.hf-rounded {
  width: 52px;
  line-height: 50px;
  padding: 0;
  font-size: 18px;
  border-radius: 100%;
}

.pro-profile .des {
  font-size: 14px;
  color: #ccc;
}

.pro-profile .project img {
  max-width: 100%;
}

.pro-profile .info-project {
  font-size: 14px;
}

.pro-profile .info-project span {
  color: #189eff;
}

.pro-profile .message {
  border-bottom: solid 1px #e1e1e1;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.pro-profile .message .author a {
  color: #404040;
  font-weight: bold;
}

.pro-profile .message .author span {
  display: block;
  font-size: 13px;
  line-height: 1;
  color: #ff0000;
}

.pro-profile .message .author-rating {
  color: #189eff;
}

.pro-profile .message .message-text {
  padding: 20px 0;
  font-size: 13px;
}

.cover-profile {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

  background-position: center;
}

.cover-profile .material-icons {
  color: #fff;
}

.content-detail {
  font-size: 13px;
  padding-top: 20px;
  margin: 10px 0;
  display: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-top: solid 1px #e1e1e1;
}

.label.label-outlined.label-default {
  border: solid 1px #e1e1e1;
  background: #fff;
  color: #acb7bf;
}

label.label-outlined.label-danger {
  color: #d9534f;
  border: solid 1px #d9534f;
  background: #fff;
}

label.label-outlined.label-info {
  color: #02b3e4;
  border: solid 1px #02b3e4;
  background: #fff;
}

label.label-outlined.label-success {
  color: #46be8a;
  border: solid 1px #46be8a;
  background: #fff;
}

.content-detail.show {
  display: block;
}

.skill-rating {
  display: block;
}

.mb-btn-book {
  display: none;
  margin: auto;
}

.btn-book-border {
  border-top: solid 1px #e1e1e1;
  border-bottom: solid 1px #e1e1e1;
  margin: 20px;
}

.number-style input.inp-quoted-price {
  font-size: 30px;
  max-width: 200px;
}

.quoted-form textarea[name="introduction"] {
  background: #fafafa;
}

.reported {
  padding: 20px;
}

.reported .price {
  font-size: 25px;
  font-weight: bold;
}

#footer-menu {
  background: #ffffff;
  -webkit-box-shadow: 0 -2px 6px rgba(155, 155, 155, .2);
  box-shadow: 0 -2px 6px rgba(155, 155, 155, .2);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  display: none;
}

#footer-menu ul {
  margin: 0;
  padding: 0;
}

#footer-menu ul li {
  width: 25%;
  text-align: center;
  padding: 0;
  float: left;
}

#footer-menu ul li a {
  padding: 12.5px 0;
  display: block;
}

#footer-menu ul li a img {
  max-width: 30px;
  margin-top: 3px;
}

#footer-menu ul li a .material-icons {
  vertical-align: middle;
  color: #757575;
}

#footer-menu ul li.active {
  border-bottom: 3px #242424 solid;
}

#footer-menu ul li.active a .material-icons {
  color: #242424;
}

.hf-bg-gradient {
  background: rgba(2, 178, 227, 1);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2, 178, 227, 1)), color-stop(100%, rgba(2, 203, 186, 1)));
  background: -webkit-linear-gradient(left, rgba(2, 178, 227, 1) 0%, rgba(2, 203, 186, 1) 100%);
  background: -o-linear-gradient(left, rgba(2, 178, 227, 1) 0%, rgba(2, 203, 186, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(2, 178, 227, 1)), to(rgba(2, 203, 186, 1)));
  background: linear-gradient(to right, rgba(2, 178, 227, 1) 0%, rgba(2, 203, 186, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b2e3', endColorstr='#02cbba', GradientType=1);
}

.sweet-alert {
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

.sweet-alert .btn {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}


.mng-list td {
  vertical-align: middle;
}

.mng-list .col-label-profile-state span {
  line-height: 16px;
}

.mng-list .blog-title {
  font-weight: bold;
  color: #02b3e4;
}

.mng-list .col-order-no {
  font-weight: bold;
}

.mng-list .col-label-order-state span,
.mng-list .col-label-user-role label,
.mng-list .col-label-acc-state span {
  line-height: 16px;
  width: 90px;
}

.mng-list .dropdown-item > i {
  padding-right: 7px;
}

.blog-carousel {
  height: 300px;
  margin-bottom: 20px;
}

.blog-carousel .carousel-inner,
.blog-carousel .carousel-item img {
  height: 300px !important;
  width: 100%;
}

.blog-carousel-row {
  margin-left: -20px;
  margin-top: -20px;
  margin-right: -20px;
}

.blog-carousel-row .carousel-indicators {
  top: 10px !important;
  left: 85% !important;
  bottom: 0px !important;
  height: 20px; 
}

.blog-carousel-row .carousel-caption {
  padding-bottom: 0px !important;
  cursor: pointer;
}

.blog-row {
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  background: #fff;
  border-top: solid 1px #e1e1e1!important;
}

.blog-row * {
  cursor: pointer;
}

.blog-row .blog-image {
  width: 150px;
  height: 90px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  float: left;
  margin-right: 20px;
}
.blog-row .blog-title {
  font-size: 14px;
}

.blog-section .blog-image {
  width: 100%;
  height: auto;
}
.blog-section .blog-icon {
  padding: 20px;
  line-height: 36px;
  vertical-align: middle;
}
.blog-section .blog-icon img {
  width: 150px;
}

.blog-section .blog-icon .blog-style {
  width: 120px;
  padding: 10px;
}

.blog-section .blog-title {
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
}

.blog-section .blog-create-date {
  padding: 0px 20px 20px 20px;
  font-size: 12px;
  text-align: right;
}

.blog-section .blog-content {
  padding: 0px 20px 20px 20px;
  font-size: 13px;
  text-align: justify;
}

.blog-section .blog-content img {
  width: 100% !important;
}

.col-cus-info .cus-name,
.col-pro-info .pro-name {
  font-weight: bold;
  color: #02b3e4;
}

.col-cus-info .cus-email,
.col-pro-info .pro-email {
  font-style: italic;
  color: #ccc;
  text-transform: none !important;
}

/*
* RESPONSIVE
*/
@media only screen and (max-width: 500px) {
  .page-content {
    margin-left: 0px;
  }
  .hf-wrapper .nav-tabs {
    font-size: 13px;
  }
  body.single-page .single-page-block {
    padding: 0!important;
  }
  /*
  nav.top-menu + .page-content {
    margin-top: 10px;
  }
  .top-menu .icon-menu-wrapper {
    float: right;
    width: auto;
  }
  */
  .single-page-login-alpha .single-page-block .single-page-block-inner {
    margin-bottom: 0;
  }
  .survey-page .page-content {
    padding-top: 0px!important;
  }
  .page-orders .orders,
  .page-orders .order-item-wrapper {
    padding: 0!important;
  }
  .page-orders .order-item {
    margin: 0;
  }
  .page-order {
    padding-top: 0!important;
  }
  .page-order .order-user,
  .page-orders .order-user {
    display: block;
    text-align: center;
    margin-top: 5px;
  }
  .page-order .quoted-price {
    max-width: 200px;
  }
  .dropdown-avatar .user-name {
    display: none;
  }
  .qprice-item {
    display: block;
  }
  
  .content-body {
    margin-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 0;
  }
  .content-template-1 .form-wrapper {
    padding: 30px;
  }
  .header-top-bar {
    display: block;
  }
  .has-top-bar {
    margin-top: 0px;
  }
  .has-bottom-menu {
    margin-bottom: 60px;
  }
  .has-mb-button-bottom {
    padding-bottom: 60px;
  }
  #footer-menu {
    display: block;
  }
  #top-menu {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .top-banner .hero h1,
  .top-banner .service {
    position: static;
  }
  .top-banner .hero h1 {
    padding: 20px;
    font-size: 30px;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0)
  }
  .top-banner .btn-services {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
  }
  .top-banner .service {
    padding: 20px 10px;
  }
  .top-banner .hero {
    min-height: 0;
    height: auto!important;
  }
  #section_value {
    height: auto!important;
  }
  #section_value .flex {
    display: block;
  }
  .hiw-slider .slick-dots {
    display: block;
    position: static;
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
  .hiw-slider .text {
    padding-top: 20px;
  }
  .single-page-block-inner {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  nav.top-menu .menu-icon-container + .menu {
    margin-left: 0;
  }

  .navbar-logo {
    width: 190px;
  }

  .hf-logo {
    height: 37px;
  }

  .hf-logo > a {
    line-height: 37px;
  }

  .page-orders {
    margin-left: 0px!important;
  }
  .order-info {
    margin-right: -8px;
  }
  .top-menu .icon-menu .icon-menu-user span {
    display: none;
  }
  .skill-rating {
    border-bottom: solid 1px #e1e1e1;
    border-top: solid 1px #e1e1e1;
    margin: 20px;
  }
  .pro-profile .des {
    margin-bottom: 20px;
  }
  .btn-book-border {
    display: none;
  }
  .mb-btn-book {
    display: block;
    width: 100%;
    padding: 18px;
    background-color: #02b3e4;
    color: #fff;
    border-top: solid 1px #02b3e4;
    border: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
}

@media only screen and (min-width: 540px) {
  .single-page-block-inner {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 425px) {
  body.single-page .single-page-block .single-page-block-inner {
    margin-top: 0;
  }
  .title {
    padding-bottom: 5px;
  }
  .single-page-login-alpha {
    height: 100%;
    overflow: scroll;
  }
  .single-page-block-inner {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .single-page-block {
    padding-right: 10px !important;
  }
  .survey-form {
    margin-bottom: 65px;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .survey-page {
    background: #fff;
  }
  .page-order #btnSubmit,
  .btn-bottom-screen,
  .row-complete.clearfix,
  .survey-form .actions {
    position: fixed;
    bottom: 0;
    -webkit-box-shadow: 0 0 8px 1px #00000055;
    box-shadow: 0 0 8px 1px #00000055;
    width: 100%;
    z-index: 9999;
    left: 0;
    right: 0;
    line-height: 44px;
  }
  .page-content-inner {
    margin: 0!important;
    display: block!important;
  }
  .pro-order .pro-content {
    padding: 0px;
    margin-top: 20px;
  }
  .order-item {
    margin: 5px 0!important;
  }
  .survey-page {
    background: #fff!important;
  }
  .navbar-logo {
    width: 150px;
    padding-top: 5px;
  }

  .top-menu .icon-menu-wrapper {
    width: 40%;
  }
  .top-menu .icon-menu .icon-menu-notification,
  .top-menu .icon-menu .icon-menu-order {
    float: right;
  }
  body.single-page .single-page-block {
    padding: 0!important;
  }
  
  .blog-carousel,
  .blog-carousel .carousel-inner,
  .blog-carousel .carousel-item img {
    height: 240px !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 321px) {
  .single-page-block-inner {
    padding-right: 20px !important;
  }
  
  .blog-carousel,
  .blog-carousel .carousel-inner,
  .blog-carousel .carousel-item img {
    height: 190px !important;
    width: 100% !important;
  }
}
